[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/swanstation"]
	path = external/swanstation
	url = https://github.com/libretro/swanstation.git
